@use "../../styles/Colors";
@use "../../styles/mixins/Viewport" as v;

.SliderNav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @include v.viewport-md {
    padding-right: 0;
  }
  
  &__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1.5px solid var( --orange );
    border-radius: 50%;
    transition: opacity ease-in-out .3s;
    opacity: 1;
    cursor: pointer;
  
    &:hover {
      opacity: .7;
    }
  
    svg {
      stroke: var( --orange );
      height: 20px;
      width: 20px;
    }
  }
}