:root {
  --black: #000;
  --black-rgb: 0, 0, 0;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --white-d5: #{ darken( #fff, 5% ) };
  --gray: #555555;
  --gray-medium: #CED6E0;
  --gray-light: #EAEAEA;
  --gray-extralight: #F8F8F8;
  --brown: #CDC9C3;
  --red: #FF4757;
  --yellow: #E8DAB2;
  --blue: #4F6D7A;
  --blue-light: #C0D6DF;
  --orange: #DD6E42;
  --green: #2ED573;
}