@use "../../styles/Colors";
@use "../../styles/mixins/Viewport" as v;

.Slider {

  .swiper {
    display: flex;
    flex-direction: column;

    &-wrapper {
      order: 2;
      margin-top: 15px;
    }

    &-slide {
      height: auto;
    }
  }

  &__Nav {
    order: 1;
  }
}