@use "../../styles/Colors";
@use "../../styles/Layout";
@use "../../styles/mixins/Viewport" as v;

.NotFound {

  @include v.viewport-md {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Image {
    display: flex;
    justify-content: center;

    svg {
      width: 300px;
      height: 225px;

      @include v.viewport-md {
        width: 600px;
        height: 450px;
      }
    }
  }

  &__Content {
    margin-top: 30px;

    @include v.viewport-md {
      margin: 0 0 0 60px;
    }
  }

  &__Title,
  &__Text {
    text-align: center;
    color: var( --blue );

    @include v.viewport-md {
      text-align: left;
    }
  }

  &__Title {
    font-size: 24px;
    line-height: 1.3em;

    @include v.viewport-md {
      font-size: 36px;
    }

    @include v.viewport-lg {
      font-size: 48px;
    }
  }

  &__Text {
    margin-top: 20px;
  }

  &__CTA {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include v.viewport-md {
      justify-content: flex-start;
    }
  }

  &__Link {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    font-weight: 700;
    color: var( --white );
    border-radius: 5px;
    background-color: var( --orange );
  }
}