@use "../../styles/Colors";
@use "../../styles/Layout";
@use "../../styles/mixins/Viewport" as v;

.Nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100vw;
  
  &__Container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: var( --nav-height );

    @include v.viewport-sm {
      padding: 0 60px;
    }

    @include v.viewport-md {
      padding: 0;
      margin: 0 auto;
      width: var( --container-max-md-width );
    }

    @include v.viewport-lg {
      width: var( --container-max-lg-width );
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100vw;
      transform: translateX( -50% );
      background-color: var( --white );
    }
  }

  &__Logo {

    svg {
      width: 92px;
      height: 26px;
    }
  }

  &__Actions {
    display: flex;
    align-items: center;
    gap: 20px;

    @include v.viewport-md {
      gap: 40px;
    }
  }
}